<div class="d-flex flex-row bd-highlight mb-3">
    <div class="form-froup row" style="width: 55%;">
        <label class="col-sm-3 col-form-label">Employee Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="employeeName" placeholder="Enter Employee Name">
        </div>
        <label class="col-sm-3 col-form-label">Department</label>
        <div class="col-sm-9">
            <select class="form-control" [(ngModel)]="departmentName">
                <option>--Select--</option>
                @for (department of departments; track department.DepartmentId) {
                <option>
                    {{ department.DepartmentName }}
                </option>
                }
            </select>
        </div>
        <label class="col-sm-3 col-form-label">Date of join</label>
        <div class="col-sm-9">
            <input type="date" [(ngModel)]="dateOfJoin">
        </div>
    </div>
    <div class="ml-3 bd-highlight" style="width: 30%;">
        <img [src]=photoFilePath height="250px;" width="200px;">
        <input type="file" (change)="uploadPhoto($event)" class="mt-2" />
    </div>
</div>

@if (employee.EmployeeId == 0) {
<button (click)="addEmployee()" class="btn btn-primary">Add</button>
}

@if (employee.EmployeeId != 0) {
<button (click)="updateEmployee()" class="btn btn-primary">Update</button>
}